.DS_Store
data/*
core/__pycache__
garbage-collector
figures

# TVOMP Ignores
# Definitely
TVOMP/FOMC_transcripts.zip

# Remove as needed
TVOMP/FOMC_transcripts
TVOMP/ML
TVOMP/Main/codes
TVOMP/Main/data/*.dta
TVOMP/LICENSE.txt
TVOMP/README.pdf
